<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>사번</th>
        <td><%= emp.e_id%></td>
    </tr>
    <tr>
        <th>이름</th>
        <td><%= emp.e_name%></td>
    </tr>
    <tr>
        <th>성별</th>
        <td><%= emp.gen%></td>
    </tr>
    <tr>
        <th>주소</th>
        <td><%= emp.addr%></td>
    </tr>
</table>
<div>
    <button type="button" onclick="location.href='/emp_mod.do/<%= emp.e_id%>'">수정</button>
    <button type="button" onclick="location.href='/emp_del_act.do/<%= emp.e_id%>'">삭제</button>
    <button type="button" onclick="location.href='/emp_list.do'">목록</button>
</div>
</body>
</html>